# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.env

# VS Code
.vscode/

# Virtualenv
venv/
ENV/
env/
.venv/

# Byte-compiled / caches
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db
